[data-reveal] {
  transform: translateY(50px);
  transition: opacity 0.5s linear 0.2s, transform 0.8s cubic-bezier(0.25, 0, 0, 1) 0.2s;
  opacity: 0;
}

[data-reveal][data-text] {
  transform: translateY(30px);
  transition: opacity 0.5s linear 0.2s, transform 0.8s cubic-bezier(0.25, 0, 0, 1) 0.2s;
  opacity: 0;
}

[data-reveal="2"],
[data-reveal="2"][data-text] {
  transition: opacity 0.5s linear 0.4s, transform 0.8s cubic-bezier(0.25, 0, 0, 1) 0.4s;
}

[data-reveal="3"],
[data-reveal="3"][data-text] {
  transition: opacity 0.5s linear 0.6s, transform 0.8s cubic-bezier(0.25, 0, 0, 1) 0.6s;
}

[data-reveal].is-in-view {
  transform: none;
  opacity: 1;
}

@keyframes floating-image {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  25% {
    transform: translate3d(0, 2px, 0) rotate(-3deg);
  }

  50% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  75% {
    transform: translate3d(0, -2px, 0) rotate(3deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
