.mainFooter {
  display: block;
  position: relative;
  z-index: 4;
  padding-bottom: 31px;
  background-color: $whitebg;

  .mainFooter--container {
    position: relative;
    width: calc(100vw - 150px);
    max-width: 1688px;
    margin: 0 auto 31px;
    padding: 87px 0 121px;
    overflow: hidden;
    border-radius: 30px;

    @include media-breakpoint-up(xl) {
      width: calc(100vw - 230px);
      min-width: 1200px;
    }

    @include media-breakpoint-down(lg) {
      width: calc(100vw - 60px);
      padding: 30px 0;
    }

    @include media-breakpoint-down(sm) {
      width: calc(100vw - 30px);
    }

    .footer__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .bg--grain {
        overflow: hidden;

        .flat {
          background: $darkblue;
        }
      }

      .bg__illus {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .footer__content {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .cta--btn {
        width: 360px;
        margin-bottom: 55px;

        @include media-breakpoint-down(md) {
          width: 300px;
          margin-bottom: 15px;
        }
      }

      p.featured {
        display: block;
        margin-bottom: 10px;
        color: $white;
        font-weight: 400;

        @include media-breakpoint-down(md) {
          max-width: 75%;
          margin-bottom: 15px;
        }

        b {
          color: $violet;
          font-weight: bold;
        }
      }

      .newsletter {
        position: relative;
        width: 585px;
        margin-bottom: 73px;
        border-radius: 10px;

        @include media-breakpoint-down(md) {
          width: 100%;
          margin-bottom: 50px;
          padding: 0 15px;
        }

        svg,
        .input--hidden,
        .entry__error {
          display: none !important;
        }

        #error-message,
        #success-message {
          display: none;
          position: absolute;
          top: 100%;
          width: 100%;
          padding-left: 3px;
          text-align: left;

          &.sib-form-message-panel--active {
            display: block;
            margin-top: 10px;

            * {
              color: $orange;
              font-size: 13px;
              text-align: left !important;
            }
          }
        }

        #success-message {
          * {
            color: $violet !important;
          }
        }

        form {
          display: flex;
          align-items: center;
          justify-content: space-between;

          input,
          .cta {
            width: 100%;
            height: 55px;
            border: none;
            border-radius: 10px;
            outline: none;
          }

          .input__container {
            width: 75%;
            margin-right: 10px;

            @include media-breakpoint-down(md) {
              width: 60%;
            }

            input {
              padding: 0 20px;
              background: $whitebg;
            }
          }

          .button__container {
            // width: 100%;
            flex: 1;

            button {
              cursor: pointer;

              .icon svg {
                display: block !important;
              }
            }
          }

          .cta {
            background: $violet;
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;

        .social__item {
          display: inline-block;
          width: 29px;
          height: 29px;
          margin-right: 18px;
          vertical-align: middle;

          &:last-of-type {
            margin-right: 0;
          }

          svg {
            width: 29px;
            height: auto;
          }
        }
      }
    }
  }

  .legals {
    display: block;
    width: calc(100vw - 150px);
    max-width: 1688px;
    margin: 0 auto;
    padding-left: 40px;
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    @include media-breakpoint-up(xl) {
      width: calc(100vw - 230px);
      min-width: 1200px;
    }

    @include media-breakpoint-down(lg) {
      width: calc(100vw - 60px);
      padding-left: 30px;
    }

    @include media-breakpoint-down(sm) {
      width: calc(100vw - 30px);
      padding-left: 15px;
    }
  }
}
