section.landing {
  position: relative;
  width: 100vw;
  min-height: 100vh;

  .landing__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 220px;
    left: 0;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      bottom: 52px;
    }

    .bg--grain {
      overflow: hidden;
      border-radius: 0 0 60px 60px;

      @include media-breakpoint-down(lg) {
        border-radius: 0 0 30px 30px;
      }

      .flat {
        background: $darkblue;
      }
    }

    .bg__illus {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 150%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .hoverLanding {
      transition: opacity 0.5s ease;
      opacity: 0.15;

      &:not(.is-active) {
        opacity: 0;
      }

      .haloLanding {
        position: absolute;
        top: -360px;
        left: -360px;
        width: 720px;
        height: 720px;
        transition-property: transform;
        transition-timing-function: ease-out;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255 255 255 / 50%) 0%, rgba(255 255 255 / 0%) 100%);
      }
    }
  }

  .landing__text {
    position: relative;
    margin: 0 auto;
    padding-top: 250px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding-top: 220px;
    }

    h1 {
      display: block;
      margin-bottom: 15px;

      span.stars {
        display: inline-block;
        position: relative;
        top: -39px;
        left: 5px;
        transition: opacity 1s cubic-bezier(0.43, 0.195, 0.02, 1) 1.75s;
        opacity: 0;
        vertical-align: top;

        @include media-breakpoint-down(lg) {
          top: -20px;

          svg {
            width: 16px;
            height: auto;
          }
        }

        &.is-in-view {
          opacity: 1;
        }
      }

      span.spaceRight {
        margin-right: 20px;

        @include media-breakpoint-down(lg) {
          margin-right: 15px;
        }

        @include media-breakpoint-down(sm) {
          margin-right: 0;
        }
      }

      span.revealContainer {
        display: inline-block;
        overflow: hidden;

        span,
        svg {
          display: inline-block;
          transform: translate3d(0, 70%, 0);
          transition: all 2s cubic-bezier(0.43, 0.195, 0.02, 1);
          transition-delay: 0.5s;
          opacity: 0;
        }

        @include media-breakpoint-down(lg) {
          &[data-reveal-custom="2"] {
            margin-top: -8px;
          }
        }

        &.is-in-view {
          span,
          svg {
            transform: translate3d(0, 1px, 0);
            opacity: 1;
          }
        }
      }
    }

    .subtitle {
      display: block;
      max-width: 1000px;
      margin: 0 auto;
      transform: translate3d(0, 10px, 0);
      transition: all 1.5s cubic-bezier(0.43, 0.195, 0.02, 1) 1.75s;
      opacity: 0;
      color: $white;
      font-family: $inter;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 50px;
      text-transform: uppercase;

      @include media-breakpoint-down(lg) {
        max-width: calc(100% - 30px);
        font-size: 18px;
        line-height: 1.8;
      }

      &.is-in-view {
        transform: none;
        opacity: 1;
      }
    }
  }

  .landing__bottom {
    display: flex;
    position: relative;
    top: -50px;
    justify-content: center;
    transform: translate3d(0, 40px, 0);
    transition: all 1.5s cubic-bezier(0.43, 0.195, 0.02, 1);
    opacity: 0;

    @include media-breakpoint-down(lg) {
      top: 0;
      overflow: hidden;
      transform: none;
      opacity: 1;
    }

    &.is-in-view.scrollStarted {
      transform: none;
      opacity: 1;
    }

    img {
      display: block;
      width: 130%;
      height: auto;
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        width: 1400px;
      }
    }
  }
}

section.pushs {
  position: relative;
  overflow: hidden;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-top: 30px;
  }

  .gradients {
    .gradient__left {
      position: absolute;
      top: -500px;
      bottom: 215px;
      left: -50vw;
      width: 125vw;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255 216 119 / 10%) 0%, rgba(217 217 217 / 0%) 100%);
    }

    .gradient__right {
      position: absolute;
      top: 100px;
      right: -60vw;
      bottom: 0;
      width: 125vw;
      background: radial-gradient(50% 50% at 50% 50%, rgba(64 102 248 / 30%) 0%, rgba(217 217 217 / 0%) 100%);
    }
  }

  .container {
    position: relative;
  }

  h2 {
    display: block;
    grid-column: 3/-3;
    margin-bottom: 55px;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      margin-bottom: 40px;
    }

    span.underline {
      position: relative;

      span[data-reveal-custom] {
        svg {
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          width: 100%;
          height: auto;

          path {
            transition: stroke-dashoffset 0.6s ease 0.5s;
            stroke-dasharray: 270;
            stroke-dashoffset: 270;
          }
        }

        &.is-in-view {
          svg {
            path {
              stroke-dasharray: 270;
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  .intro {
    grid-column: 2/-2;
    max-width: 90%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      max-width: 100%;
    }

    p {
      display: block;
    }

    p.up {
      margin-bottom: 30px;
    }

    p.featured {
      margin-bottom: 65px;

      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }
    }

    .cta {
      display: inline-block;
      position: relative;
      top: -2px;
      margin-right: 3px;
      color: inherit;
      font-size: inherit;
      font-weight: bold;
      line-height: inherit;

      span {
        color: inherit;
        font-size: inherit;
        font-weight: bold;
        line-height: inherit;
        text-decoration: underline;

        &.text {
          margin-right: 5px;
        }

        &.icon {
          position: relative;
          top: -3px;

          svg {
            path {
              stroke: $darkblue;
            }
          }
        }
      }
    }
  }

  .col3 {
    position: relative;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      grid-row-gap: 15px;
      margin-bottom: 15px;
    }

    .item {
      display: flex;
      grid-column: span 4;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 464px;
      padding: 50px 35px;
      border-radius: 20px;
      background-color: $white;

      @include media-breakpoint-down(md) {
        grid-column: span 6;
      }

      img {
        flex: 1;
      }

      p {
        display: block;
        margin-top: auto;
        margin-bottom: 0;
        color: $darkblue;
        font-family: $inter;
        font-size: 25px;
        font-weight: 400;
        line-height: 33px;
      }
    }
  }

  .col2 {
    grid-row-gap: 16px;
    margin-bottom: 68px;
    text-align: left;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    .cosmos,
    .know,
    .simplicity {
      display: flex;
      padding: 0 45px;
      overflow: hidden;
      border-radius: 20px;

      @include media-breakpoint-down(md) {
        grid-column: 1/-1 !important;
      }

      .illus,
      .text {
        position: relative;
      }

      .text {
        h4 {
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.8;
      }

      .grain {
        opacity: 0.01;
      }
    }

    .cosmos {
      position: relative;
      grid-column: 1/7;
      grid-row: 1;
      min-height: 230px;
      padding-top: 30px;
      padding-bottom: 20px;

      @include media-breakpoint-down(md) {
        grid-row: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 15px;
        text-align: center;
      }

      .illus,
      .text {
        display: inline-block;

        @include media-breakpoint-down(md) {
          display: block;
        }
      }

      .illus {
        width: 140px;
        height: auto;
      }

      .text {
        margin-top: 25px;
        margin-left: 40px;

        @include media-breakpoint-down(md) {
          margin: 30px 0 0;
        }
      }

      .flat {
        background: $lightblue;
      }
    }

    .know {
      position: relative;
      grid-column: 7/-1;
      grid-row: 1/3;
      flex-direction: column;
      padding-top: 60px;

      @include media-breakpoint-down(md) {
        grid-row: 1;
        padding: 30px 15px;
        text-align: center;
      }

      * {
        color: $white;
      }

      .illus {
        margin-bottom: 55px;

        @include media-breakpoint-down(md) {
          margin-bottom: 30px;
        }
      }

      .flat {
        background: $violet;
      }
    }

    .simplicity {
      position: relative;
      grid-column: 1/7;
      min-height: 230px;
      padding-top: 43px;

      @include media-breakpoint-down(md) {
        grid-row: 3;
        padding: 30px 15px;
        text-align: center;
      }

      * {
        color: $white;
      }

      .flat {
        background: $darkblue;
      }
    }
  }

  .video {
    display: flex;
    position: relative;
    grid-column: 3/-3;
    margin-bottom: 160px;
    overflow: hidden;
    border-radius: 20px;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      margin-bottom: 60px;
    }

    video {
      width: 100%;
    }

    .bg {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
      justify-content: center;

      .flat {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        background: #000000;
      }

      svg {
        position: relative;
        width: 75px;
        height: auto;
      }
    }
  }
}

section.universe {
  position: sticky;
  z-index: 3;
  margin-bottom: 250px;

  @include media-breakpoint-down(md) {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
  }

  h2 {
    display: block;
    grid-column: 2/-2;
    margin-bottom: 130px;
    color: $darkblue;
    text-align: center;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      margin-bottom: 60px;
    }

    span.outerline {
      position: relative;

      span[data-reveal-custom] {
        svg {
          position: absolute;
          z-index: -1;
          top: -20px;
          left: -15px;
          width: calc(100% + 30px);
          height: auto;

          @include media-breakpoint-down(md) {
            top: -10px;
            left: -10px;
            width: calc(100% + 20px);
          }

          path {
            transition: stroke-dashoffset 0.9s ease 0.5s;
            stroke-dasharray: 700;
            stroke-dashoffset: 700;
          }
        }

        &.is-in-view {
          svg {
            path {
              stroke-dasharray: 700;
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  .universe__items {
    grid-row-gap: 32px;

    @include media-breakpoint-down(md) {
      grid-row-gap: 15px;
    }

    .universe__item {
      display: flex;
      position: relative;
      grid-column: span 6;
      flex-direction: column;
      min-height: 531px;
      padding: 45px 58px;

      @include media-breakpoint-down(md) {
        min-height: 400px;
        padding: 30px 15px;
      }

      &:nth-of-type(2n) {
        position: relative;
        top: 150px;

        @include media-breakpoint-down(md) {
          top: initial;
        }
      }

      .bg--grain {
        overflow: hidden;
        border-radius: 20px;

        .flat {
          background: $white;
        }

        .grain {
          opacity: 0.5;
        }
      }

      .slider,
      .illus,
      .text {
        position: relative;
      }

      .slider {
        margin-top: 0;
        margin-bottom: auto;

        .slider__item {
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-right: 6px;
          border-radius: 50%;
          background-color: $lightblue;

          &.active {
            background-color: $orange;
          }
        }
      }

      .illus {
        position: absolute;
        top: -50px;
        right: -50px;

        @include media-breakpoint-down(md) {
          display: flex;
          position: initial;
          top: initial;
          right: initial;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
        }

        img {
          animation: floating-image 8s linear infinite;

          @include media-breakpoint-down(md) {
            width: 300px;
          }
        }
      }

      .text {
        @include media-breakpoint-down(md) {
          margin-top: -30px;
        }

        .label {
          margin-bottom: 15px;
          background: $white;
        }

        h3 {
          display: block;
          margin-bottom: 15px;
          color: $violet;
        }

        p {
          color: $darkblue;
        }
      }

      &:nth-child(2) {
        .illus {
          img {
            animation-delay: 1s;
          }
          animation-direction: reverse;
        }
      }

      &:nth-child(3) {
        .illus {
          img {
            animation-delay: 3s;
          }
          animation-direction: reverse;
        }
      }
    }
  }
}

.gradient__roadmap {
  position: absolute;
  width: 100vw;
  height: 230vh;
  transform: translate3d(0, -900px, 0);
  background: linear-gradient(180deg, #F9F9F9 0%, #D3DEFA 100%);

  @include media-breakpoint-down(md) {
    z-index: 2;
    overflow: hidden;
  }
}

section.roadmap {
  position: relative;
  z-index: 5;
  padding-bottom: 115px;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding-bottom: 30px;
  }

  .gradient {
    position: absolute;
    top: -100vh;
    width: 100vw;
    height: 200vh;
    background: linear-gradient(180deg, #F9F9F9 0%, #D3DEFA 100%);
  }

  .door {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    min-height: 1645px;
    border-radius: 950px 950px 30px 30px;
    background-color: $white;
  }

  .intro {
    position: relative;
    grid-column: 2/-2;
    margin-top: 290px;
    margin-bottom: 53px;
    text-align: center;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      margin-top: 150px;
      margin-bottom: 15px;
    }

    h2 {
      display: block;
      margin-top: 20px;
      margin-bottom: 35px;

      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }

      span.stars {
        display: inline-block;
        position: relative;
        top: -30px;
        left: 5px;
        vertical-align: top;

        @include media-breakpoint-down(md) {
          top: -10px;

          svg {
            width: 17px;
            height: auto;
          }
        }

        path {
          fill: $orange;
        }
      }
    }

    p {
      display: block;
      max-width: 85%;
      margin: 0 auto;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
  }

  .roadmap__items {
    position: relative;
    grid-column: 1/-1;

    .roadmap__item {
      width: calc(100% - 80px);
      max-height: 92px;
      margin: 15px auto;
      overflow: hidden;
      transition:
        border 0.3s ease 0.4s,
        border-radius 0.3s ease 0.4s,
        background-color 0.5s ease 0.4s,
        max-height 0.7s cubic-bezier(0.43, 0.195, 0.02, 1),
        width 0.7s cubic-bezier(0.43, 0.195, 0.02, 1);
      border: 1px solid $violet;
      border-radius: 20px;
      background-color: $violet;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      .roadmap__item-container {
        * {
          transition: color 0.3s ease 0.4s;
          color: $white;
        }

        .header {
          .label {
            transition: border 0.3s ease 0.4s;
          }
        }

        .willGoDown {
          transform: none;
          transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
        }
      }

      &.is-reset {
        max-height: 92px;
        border: 1px solid $darkblue;
        background-color: $darkblue;

        .roadmap__item-container {
          * {
            color: $white;
          }

          .willGoDown {
            transform: none;
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            transition: border 0.3s ease;
            border: 1px solid $white;
          }
        }
      }

      &.is-coming {
        border: 1px solid $violet;
        background-color: $violet;

        .roadmap__item-container {
          * {
            color: $white;
          }

          .willGoDown {
            transform: none;
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            border: 1px solid $white;
          }
        }
      }

      &.is-active {
        width: 100%;
        max-height: 900px;
        transition:
          background-color 0.5s ease,
          border 0.5s ease,
          border-radius 0.5s ease,
          max-height 1.2s cubic-bezier(0.43, 0.195, 0.02, 1),
          width 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);
        border: 1px solid $darkblue;
        border-radius: 40px;
        background-color: transparent;

        .roadmap__item-container {
          * {
            transition: color 0.3s ease;
            color: $darkblue;
          }

          .willGoDown {
            transform: translate3d(0, 25px, 0);
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            transition: border 0.3s ease;
            border: 1px solid $darkblue;
          }
        }
      }

      &:nth-child(1) {
        &.is-active {
          max-height: var(--roadmap-item1);
        }
      }

      &:nth-child(2) {
        &.is-active {
          max-height: var(--roadmap-item2);
        }
      }

      &:nth-child(3) {
        &.is-active {
          max-height: var(--roadmap-item3);
        }
      }

      &:nth-child(4) {
        &.is-active {
          max-height: var(--roadmap-item4);
        }
      }

      &:nth-child(5) {
        &.is-active {
          max-height: var(--roadmap-item5);
        }
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 91px;
        padding: 0 40px;

        @include media-breakpoint-down(md) {
          padding: 0 15px;
        }

        h3 {
          span.indicator {
            display: inline-block;
            transform-origin: center;
            transition: all 0.4s cubic-bezier(0.43, 0.195, 0.02, 1);
          }

          .subtitle {
            font-size: 25px;
            font-weight: 300;

            @include media-breakpoint-down(md) {
              font-size: 20px;
            }
          }
        }

        .label {
          padding: 10px 20px;
          border: 1px solid $white;
          border-radius: 47px;

          @include media-breakpoint-down(md) {
            padding: 5px 10px;
            text-align: center;
          }

          span {
            font-size: 18px;

            @include media-breakpoint-down(md) {
              font-size: 14px;
            }
          }
        }
      }

      .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 50px;

        @include media-breakpoint-down(md) {
          flex-direction: column;
          padding: 10px 15px 30px;
        }

        .text {
          width: 50%;

          @include media-breakpoint-down(md) {
            width: 100%;
          }

          p.up {
            display: block;
            margin-bottom: 35px;
            font-weight: 700;
          }

          p:not(.up) {
            line-height: 32px;
          }
        }

        .illus {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 100%;

          @include media-breakpoint-down(md) {
            width: 100%;
            height: auto;
            margin-top: -30px;
          }

          img {
            position: absolute;
            width: 120%;
            height: auto;

            @include media-breakpoint-down(md) {
              position: initial;
            }
          }
        }
      }

      &:hover,
      &.active {
        span.indicator {
          transform: rotate(90deg) !important;
        }
      }
    }
  }
}

section.news {
  position: relative;
  z-index: 4;
  padding-top: 117px;
  padding-bottom: 55px;
  background-color: $whitebg;

  @include media-breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .gradient--container {
    position: absolute;
    top: -100px;
    bottom: 0;
    width: 100vw;
    overflow: hidden;

    .gradient {
      position: absolute;
      top: -700px;
      left: -50vw;
      width: 200vw;
      height: calc(100% + 700px);
      background: radial-gradient(50% 50% at 50% 50%, rgba(64 102 248 / 20%) 0%, rgba(217 217 217 / 0%) 100%);
    }
  }

  .container {
    position: relative;
  }

  .left {
    position: sticky;
    top: 117px;
    grid-column: 1/6;
    height: fit-content;
    padding-bottom: 279px;

    @include media-breakpoint-down(md) {
      position: initial;
      top: initial;
      grid-column: 1/-1;
      padding-bottom: 30px;
    }

    h2 {
      display: block;
      margin-bottom: 35px;

      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }
    }
  }

  .right {
    grid-column: 7/-1;
    margin-bottom: 150px;

    @include media-breakpoint-down(md) {
      grid-column: 1/-1;
      margin-bottom: 60px;
    }

    .item__bg {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 32px;
      padding: 35px 48px;
      overflow: hidden;
      border-radius: 20px;
      text-decoration: none;

      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
        padding: 30px 20px;
      }

      * {
        color: $white;
      }

      &.bg--dark {
        background-color: $darkblue;
      }

      &.bg--violet {
        background-color: $violet;
      }

      h4 {
        display: block;
        margin-bottom: 15px;
      }

      p {
        line-height: 1.8;

        @include media-breakpoint-down(md) {
          max-width: 80%;
        }
      }

      .arrow {
        position: absolute;
        top: 35px;
        right: 35px;
        width: 14px;
        transition: all 0.4s cubic-bezier(0.43, 0.195, 0.02, 1);

        @include media-breakpoint-down(md) {
          top: 30px;
          right: 25px;
        }

        svg {
          width: 14px;
          height: auto;
        }
      }

      &:hover {
        .arrow {
          transform: translate3d(3px, -4px, 0);
        }
      }
    }

    .item__icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @include media-breakpoint-down(md) {
        justify-content: space-between;
        margin-top: 30px;
      }

      .item__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 23px;
        text-decoration: none;

        @include media-breakpoint-down(md) {
          margin: 0 15px;
        }

        .icon {
          width: 33px;
          margin-right: 14px;

          svg {
            width: 33px;
            height: auto;

            path {
              fill: $darkblue;
            }
          }
        }

        .text {
          h4 {
            display: block;
            color: $darkblue;
            text-decoration: none;

            .arrow {
              display: inline-block;
              position: relative;
              top: -5px;
              margin-left: 11px;
              transition: all 0.4s cubic-bezier(0.43, 0.195, 0.02, 1);

              @include media-breakpoint-down(md) {
                top: -3px;
                margin-left: 5px;
              }

              svg {
                width: 14px;
                height: auto;

                path {
                  stroke: $darkblue;
                }
              }
            }
          }

          p {
            line-height: 1.8;
          }
        }

        &:hover {
          .arrow {
            transform: translate3d(3px, -4px, 0);
          }
        }
      }
    }
  }

  .bottom {
    grid-column: 1/-1;
    text-align: center;

    p {
      display: block;
      margin-bottom: 33px;
      font-size: 16px;
    }

    .founders {
      display: flex;
      align-items: center;
      justify-content: center;

      .founder__item {
        margin: 0 18px;
      }
    }
  }
}
