section.landing {
  position: relative;
  width: 100vw;
  min-height: 100vh;

  .landing__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 220px;
    left: 0;
    overflow: hidden;

    .bg--grain {
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      overflow: hidden;

      .flat {
        background: $darkblue;
      }
    }

    .bg__illus {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .hoverLanding {
      opacity: 0.15;
      transition: opacity 0.5s ease;

      &:not(.is-active) {
        opacity: 0;
      }

      .haloLanding {
        position: absolute;
        top: -360px;
        left: -360px;
        width: 720px;
        height: 720px;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255 255 255 / 50%) 0%, rgba(255 255 255 / 0%) 100%);
        transition-property: transform;
        transition-timing-function: ease-out;
      }
    }
  }

  .landing__text {
    position: relative;
    margin: 0 auto;
    padding-top: 250px;
    text-align: center;

    h1 {
      display: block;
      margin-bottom: 15px;

      span.stars {
        position: relative;
        top: -39px;
        left: 5px;
        display: inline-block;
        vertical-align: top;
      }
    }

    .subtitle {
      display: block;
      max-width: 1000px;
      margin: 0 auto;
      font-family: $inter;
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 50px;
      letter-spacing: 0.05em;
      color: $white;
    }
  }

  .landing__bottom {
    position: relative;
    margin-top: 40px;

    img {
      display: block;
      margin: 0 auto;
      width: 900px;
      height: auto;
    }
  }
}

section.pushs {
  position: relative;
  text-align: center;
  overflow: hidden;
  // background: $whitebg;

  .gradients {
    .gradient__left {
      position: absolute;
      width: 125vw;
      left: -50vw;
      top: -500px;
      bottom: 215px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255 216 119 / 10%) 0%, rgba(217 217 217 / 0%) 100%);
    }

    .gradient__right {
      position: absolute;
      width: 125vw;
      right: -60vw;
      top: 100px;
      bottom: 0;
      background: radial-gradient(50% 50% at 50% 50%, rgba(64 102 248 / 30%) 0%, rgba(217 217 217 / 0%) 100%);
    }
  }

  h2 {
    grid-column: 3/-3;
    display: block;
    margin-bottom: 55px;

    span.underline {
      position: relative;

      span[data-reveal-custom] {
        svg {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          height: auto;

          path {
            transition: stroke-dashoffset 0.6s ease 0.5s;
            stroke-dasharray: 270;
            stroke-dashoffset: 270;
          }
        }

        &.is-in-view {
          svg {
            path {
              stroke-dasharray: 270;
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  .intro {
    margin: 0 auto;
    grid-column: 2/-2;
    max-width: 90%;

    p {
      display: block;
    }

    p.up {
      margin-bottom: 30px;
    }

    p.featured {
      margin-bottom: 65px;
    }
  }

  .col3 {
    position: relative;
    margin-bottom: 60px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-column: span 4;
      height: 464px;
      border-radius: 20px;
      background-color: $white;
      padding: 50px 35px;

      img {
        flex: 1;
      }

      p {
        display: block;
        margin-top: auto;
        margin-bottom: 0;
        font-family: $inter;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        color: $darkblue;
      }
    }
  }

  .col2 {
    margin-bottom: 68px;
    grid-row-gap: 16px;
    text-align: left;

    .cosmos,
    .know,
    .simplicity {
      display: flex;
      padding: 0 45px;
      border-radius: 20px;
      overflow: hidden;

      .illus,
      .text {
        position: relative;
      }

      .text {
        h4 {
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.8;
      }

      .grain {
        opacity: 0.01;
      }
    }

    .cosmos {
      position: relative;
      grid-column: 1/7;
      grid-row: 1;
      min-height: 230px;
      padding-top: 30px;
      padding-bottom: 20px;

      .illus,
      .text {
        display: inline-block;
      }

      .illus {
        width: 140px;
        height: auto;
      }

      .text {
        margin-left: 40px;
        margin-top: 25px;
      }

      .flat {
        background: $lightblue;
      }
    }

    .know {
      position: relative;
      grid-column: 7/-1;
      grid-row: span 2;
      padding-top: 60px;
      flex-direction: column;
      // padding-right: 40px;

      * {
        color: $white;
      }

      .illus {
        margin-bottom: 55px;
      }

      .flat {
        background: $violet;
      }
    }

    .simplicity {
      position: relative;
      grid-column: 1/7;
      grid-row: 2;
      min-height: 230px;
      padding-top: 43px;
      // padding-right: 38px;

      * {
        color: $white;
      }

      .flat {
        background: $darkblue;
      }
    }
  }

  .video {
    display: flex;
    position: relative;
    grid-column: 3/-3;
    margin-bottom: 160px;
    border-radius: 20px;
    overflow: hidden;

    video {
      width: 100%;
    }

    .bg {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .flat {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000000;
        opacity: 0.5;
      }

      svg {
        position: relative;
        width: 75px;
        height: auto;
      }
    }
  }
}

section.universe {
  position: sticky;
  z-index: 3;
  margin-bottom: 250px;

  h2 {
    display: block;
    grid-column: 2/-2;
    margin-bottom: 130px;
    color: $darkblue;
    text-align: center;

    span.outerline {
      position: relative;

      span[data-reveal-custom] {
        svg {
          position: absolute;
          z-index: -1;
          top: -20px;
          left: -15px;
          width: calc(100% + 30px);
          height: auto;

          path {
            transition: stroke-dashoffset 0.9s ease 0.5s;
            stroke-dasharray: 700;
            stroke-dashoffset: 700;
          }
        }

        &.is-in-view {
          svg {
            path {
              stroke-dasharray: 700;
              stroke-dashoffset: 0;
            }
          }
        }
      }
    }
  }

  .universe__items {
    grid-row-gap: 32px;

    .universe__item {
      display: flex;
      position: relative;
      grid-column: span 6;
      flex-direction: column;
      min-height: 531px;
      padding: 45px 58px;
      border-radius: 20px;

      &:nth-of-type(2n) {
        position: relative;
        top: 150px;
      }

      .bg--grain {
        .flat {
          background: $white;
        }

        .grain {
          opacity: 0.5;
        }
      }

      .slider,
      .illus,
      .text {
        position: relative;
      }

      .slider {
        margin-top: 0;
        margin-bottom: auto;

        .slider__item {
          display: inline-block;
          width: 9px;
          height: 9px;
          margin-right: 6px;
          border-radius: 50%;
          background-color: $lightblue;

          &.active {
            background-color: $orange;
          }
        }
      }

      .illus {
        position: absolute;
        top: -20px;
        right: 0;

        img {
          animation: floating-image 8s linear infinite;
        }
      }

      .text {
        .label {
          margin-bottom: 15px;
          background: $white;
        }

        h3 {
          display: block;
          margin-bottom: 15px;
          color: $violet;
        }

        p {
          color: $darkblue;
        }
      }

      &:nth-child(2) {
        .illus {
          img {
            animation-delay: 1s;
          }
          animation-direction: reverse;
        }
      }

      &:nth-child(3) {
        .illus {
          img {
            animation-delay: 3s;
          }
          animation-direction: reverse;
        }
      }

      // &:nth-child(4) {
      //   .illus {
      //     img {
      //       animation-delay: 4s;
      //     }
      //   }
      // }
    }
  }
}

.gradient__roadmap {
  position: absolute;
  width: 100vw;
  height: 230vh;
  transform: translate3d(0, -900px, 0);
  background: linear-gradient(180deg, #F9F9F9 0%, #D3DEFA 100%);
}

section.roadmap {
  position: relative;
  z-index: 5;
  padding-bottom: 115px;
  overflow: hidden;
  // background-color: $whitebg;

  .gradient {
    position: absolute;
    top: -100vh;
    width: 100vw;
    height: 200vh;
    background: linear-gradient(180deg, #F9F9F9 0%, #D3DEFA 100%);
  }

  .door {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    min-height: 1645px;
    border-radius: 950px 950px 30px 30px;
    background-color: $white;
  }

  .intro {
    position: relative;
    grid-column: 2/-2;
    text-align: center;
    margin-top: 290px;
    margin-bottom: 53px;

    h2 {
      display: block;
      margin-top: 20px;
      margin-bottom: 35px;

      span.stars {
        position: relative;
        left: 5px;
        top: -30px;
        display: inline-block;
        vertical-align: top;

        path {
          fill: $orange;
        }
      }
    }

    p {
      display: block;
      margin: 0 auto;
      max-width: 85%;
    }
  }

  .roadmap__items {
    position: relative;
    grid-column: 1/-1;

    .roadmap__item {
      width: calc(100% - 80px);
      max-height: 92px;
      margin: 15px auto;
      border-radius: 20px;
      border: 1px solid $violet;
      background-color: $violet;
      transition:
        border 0.3s ease 0.4s,
        border-radius 0.3s ease 0.4s,
        background-color 0.5s ease 0.4s,
        max-height 0.7s cubic-bezier(0.43, 0.195, 0.02, 1),
        width 0.7s cubic-bezier(0.43, 0.195, 0.02, 1);
      overflow: hidden;

      .roadmap__item-container {
        * {
          transition: color 0.3s ease 0.4s;
          color: $white;
        }

        .header {
          .label {
            transition: border 0.3s ease 0.4s;
          }
        }

        .willGoDown {
          transform: none;
          transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
        }
      }

      &.is-reset {
        max-height: 92px;
        border: 1px solid $darkblue;
        background-color: $darkblue;

        .roadmap__item-container {
          * {
            color: $white;
          }

          .willGoDown {
            transform: none;
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            border: 1px solid $white;
            transition: border 0.3s ease;
          }
        }
      }

      &.is-coming {
        border: 1px solid $violet;
        background-color: $violet;

        .roadmap__item-container {
          * {
            color: $white;
          }

          .willGoDown {
            transform: none;
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            border: 1px solid $white;
          }
        }
      }

      &.is-active {
        width: 100%;
        max-height: 900px;
        background-color: transparent;
        border: 1px solid $darkblue;
        border-radius: 40px;
        transition:
          background-color 0.5s ease,
          border 0.5s ease,
          border-radius 0.5s ease,
          max-height 1.2s cubic-bezier(0.43, 0.195, 0.02, 1),
          width 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);

        .roadmap__item-container {
          * {
            transition: color 0.3s ease;
            color: $darkblue;
          }

          .willGoDown {
            transform: translate3d(0, 25px, 0);
            transition: transform 0.5s cubic-bezier(0.43, 0.195, 0.02, 1);
          }
        }

        .header {
          .label {
            border: 1px solid $darkblue;
            transition: border 0.3s ease;
          }
        }
      }

      &:nth-child(1) {
        &.is-active {
          max-height: var(--roadmap-item1);
        }
      }

      &:nth-child(2) {
        &.is-active {
          max-height: var(--roadmap-item2);
        }
      }

      &:nth-child(3) {
        &.is-active {
          max-height: var(--roadmap-item3);
        }
      }

      &:nth-child(4) {
        &.is-active {
          max-height: var(--roadmap-item4);
        }
      }

      &:nth-child(5) {
        &.is-active {
          max-height: var(--roadmap-item5);
        }
      }

      .header {
        display: flex;
        height: 91px;
        padding: 0 40px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .label {
          padding: 10px 20px;
          border: 1px solid $white;
          border-radius: 47px;

          span {
            font-size: 18px;
          }
        }
      }

      .body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px 50px;

        .text {
          width: 50%;

          p.up {
            display: block;
            margin-bottom: 35px;
            font-weight: 700;
          }

          p:not(.up) {
            line-height: 32px;
          }
        }

        .illus {
          width: 40%;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

section.news {
  position: relative;
  z-index: 4;
  padding-top: 117px;
  padding-bottom: 55px;
  background-color: $whitebg;

  .gradient--container {
    position: absolute;
    top: -100px;
    width: 100vw;
    bottom: 0;
    overflow: hidden;

    .gradient {
      position: absolute;
      top: -700px;
      width: 200vw;
      left: -50vw;
      height: calc(100% + 700px);
      background: radial-gradient(50% 50% at 50% 50%, rgba(64 102 248 / 20%) 0%, rgba(217 217 217 / 0%) 100%);
    }
  }

  .container {
    position: relative;
  }

  .left {
    position: sticky;
    top: 117px;
    height: fit-content;
    padding-bottom: 315px;
    grid-column: 1/6;

    h2 {
      display: block;
      margin-bottom: 35px;
    }
  }

  .right {
    grid-column: 7/-1;

    .item__bg {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 32px;
      padding: 35px 48px;
      border-radius: 20px;
      text-decoration: none;
      overflow: hidden;

      * {
        color: $white;
      }

      &.bg--dark {
        background-color: $darkblue;
      }

      &.bg--violet {
        background-color: $violet;
      }

      h4 {
        display: block;
        margin-bottom: 15px;
      }

      p {
        line-height: 1.8;
      }

      .arrow {
        position: absolute;
        top: 35px;
        right: 35px;
        width: 14px;

        svg {
          width: 14px;
          height: auto;
        }
      }
    }

    .item__icon {
      display: flex;
      margin-bottom: 32px;
      width: 100%;
      padding-right: 130px;

      .icon {
        width: 33px;
        margin-right: 12px;

        svg {
          width: 33px;
          height: auto;

          path {
            fill: $darkblue;
          }
        }
      }

      .text {
        position: relative;
        top: 3px;
        margin-right: auto;
        margin-left: 0;

        h4 {
          display: block;
          margin-bottom: 15px;

          .arrow {
            position: relative;
            top: -3px;
            left: 11px;

            svg {
              width: 14px;
              height: auto;

              path {
                stroke: $darkblue;
              }
            }
          }
        }

        p {
          line-height: 1.8;
        }
      }
    }
  }

  .bottom {
    grid-column: 1/-1;
    margin-top: 150px;
    text-align: center;

    p {
      display: block;
      margin-bottom: 33px;
      font-size: 16px;
    }

    .founders {
      display: flex;
      align-items: center;
      justify-content: center;

      .founder__item {
        margin: 0 18px;
      }
    }
  }
}

// .gradient--news {
//     position: absolute;
//     transform: translate3d(0, -100px, 0);
//     width: 100vw;

//     height: 1700px;
//     overflow: hidden;

//     .gradient {
//       position: absolute;
//       top: -700px;
//       width: 200vw;
//       left: -50vw;
//       height: 1700px;
//       background: radial-gradient(50% 50% at 50% 50%, rgba(64 102 248 / 20%) 0%, rgba(217 217 217 / 0%) 100%);
//     }
//   }
