$white: #FFFFFF;
$whitebg: #F9F9F9;
$orange: #FA6E09;
$gold: #D9A84D;
$violet: #5979F1;
$darkblue: #15233D;
$lightblue: #E6EBFD;
$blue: #96AEF8;
$black: #000000;
$grey: #767676;
$header-height: 123px;

$inter: "Inter", sans-serif;
$archivo: "Archivo", sans-serif;
$dmsans: "DM Sans", sans-serif;

$breakpoints: (
  xs: 0,
  sm: 570px,
  md: 770px,
  lg: 990px,
  xl: 1200px,
  xxl: 1500px
);
