main.legalMentions {
  padding-top: 174px;

  @include media-bp-down(lg) {
    width: 100%;
    padding-top: 100px;
  }

  .header_halo {
    position: absolute;
    width: 1344px;
    height: 695px;
    top: -244px;
    right: -14%;
    z-index: -1;
  }

  .main-content {
    margin-bottom: 82px;
  }

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .legalMentions__content {
    top: 25vh;
    right: 0;
    left: 0;
    transform-origin: center;
    display: grid;
    gap: 40px;

    h1 {
      line-height: 75px;
      font-weight: 700;
      @include media-bp-up(lg) {
        font-size: 68px;
      }
    }

    .subtitle {
      color: $white;
      a {
        color: $white;
        text-decoration: underline;
      }
    }

    .legalMentions__items {
      .legalMentions__item {
        position: relative;
        width: 100%;

        .title {
          display: block;
          margin: 28px 0;
          line-height: 38px;
          font-weight: 700;
          font-size: 20px;
          text-transform: capitalize;
          @include media-bp-up(lg) {
            font-size: 32px;
          }
        }

        .text {
          color: $white;

          @include media-bp-up(lg) {
            p {
              font-size: 16px;
              line-height: 22px;
              font-weight: 400;
            }
          }

          ul {
            margin-left: 30px;
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
