body {
  background-color: $nightblue;
  color: $white;
  font-family: $font;
  font-weight: 400;
}

main {
  position: relative;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

p,
span {
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: $white;
  text-decoration: none;

  &:visited {
    color: $white;
  }
}

h1,
h2,
h3 {
  font-family: $font-title;
  font-weight: bold;
}

h1 {
  font-size: 125px;
  line-height: 1;
}

h2 {
  font-size: 80px;
  line-height: 1;
}

h3 {
  font-size: 60px;
  line-height: 1.1;
}
