.halo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 0.15;
  pointer-events: none;

  &:not(.is-active) {
    opacity: 0;
  }

  .halo__light {
    position: absolute;
    top: -360px;
    left: -360px;
    width: 720px;
    height: 720px;
    transition-property: transform;
    transition-timing-function: ease-out;
    border-radius: 50%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255 255 255 / 50%) 0%,
      rgba(255 255 255 / 0%) 100%
    );
  }

  &.halo--big {
    .halo__light {
      position: absolute;
      top: -620px;
      left: -620px;
      width: 1240px;
      height: 1240px;
      transition-property: transform;
      transition-timing-function: ease-out;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(153 191 248 / 50%) 0%,
        rgba(217 217 217 / 0%) 100%
      );
    }
  }
}
