section.strate {
  position: sticky;
  width: calc(100vw - 60px);
  margin: 0 auto;
  transform-origin: top;

  .strate__inner {
    border-radius: 40px;
    transform-origin: top;
    overflow: hidden;
  }

  & + .strate {
    margin-top: -80px;
  }
}
