body {
  background-color: $nightblue;
  color: $white;
  font-family: $font;
  font-weight: 400;
}

p,
span {
  font-family: $font;
  font-weight: 400;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: $font-title;
  font-weight: bold;
}

h1 {
  font-size: 125px;
  line-height: 1.1;
}

h2 {
  font-size: 80px;
  line-height: 1;
}

h3 {
  font-size: 60px;
  line-height: 1.1;
}
