.community {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;

  @include media-bp-down(lg) {
    width: 100%;
    padding-top: 110px;
  }

  .wrapper {
    position: relative;
  }

  .community__content {
    top: 25vh;
    right: 0;
    left: 0;
    transform-origin: center;
    display: grid;
    // gap: 40px;

    .text {
      color: $white;
      font-weight: bold;
      margin: 20px;
    }

    .community_landing_wrapper {
      display: flex;
      width: 100%;
      align-items: flex-start;
      // margin-bottom: 40px;
      // margin-top: 40px;

      @include media-bp-down(lg) {
        display: flex;
        flex-direction: column;
      }

      .community_titles {
        display: flex;
        flex-direction: column;

        @include media-bp-down(lg) {
          margin: 10px;
          line-height: 1.1;
          text-align: center;
          width: 100%;
        }

        .title {
          position: absolute;
          width: 724px;
          height: 276px;
          left: 328px;
          top: 204px;
        }

        .subtitle {
          margin-top: 26px;
          width: 508px;
          opacity: 0.8;
          font-size: 20px;
          line-height: 150%;
        }
      }

      .community__image--container {
        margin-left: 100px;

        .community__image {
          border-radius: 20px;
          transform: rotate(-4.72deg);
          width: 310.33px;
          height: 398.16px;
          // margin-left: 98.87px;

          @include media-bp-down(lg) {
            margin-top: 30px;
            padding-bottom: 70px;
            align-self: center;
            width: 80%;
            height: auto;
          }
        }
      }
    }

    .background_img {
      float: left;
      height: 721px;
      width: 721px;
      opacity: 15%;
      position: fixed;
      left: 7px;
      top: 472px;
      margin-left: 0;
      background-image: url("../../assets/images/illus/cropped_footer_image.png");
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        opacity: 1;
        background-image: url("../../assets/images/illus/footer.png");
        background-size: contain;
        width: 100%;
        top: 420px;
      }
    }

    .social_media {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      // margin-bottom: 35px;
      // margin-top: 50px;
      margin-top: 100px;
      margin-bottom: 86px;

      &:hover {
        span:hover {
          p.text {
            color: $white;
          }
        }
        .socials__link:hover {
          &.linkedin {
            .text {
              opacity: 1;
            }
            .arrow {
              opacity: 1;
            }
            > svg {
              path {
                fill: #0077b5;
              }
            }
          }

          &.twitter {
            .text {
              opacity: 1;
            }
            .arrow {
              opacity: 1;
            }
            > svg {
              path {
                fill: #1da1f2;
              }
            }
          }
          &.github {
            .text {
              opacity: 1;
            }
            .arrow {
              opacity: 1;
            }
            > svg {
              path {
                fill: black;
              }
            }
          }
          &.discord {
            .text {
              opacity: 1;
            }
            .arrow {
              opacity: 1;
            }
            > svg {
              path {
                fill: #5865f2;
              }
            }
          }
          &.telegram {
            .text {
              opacity: 1;
            }
            .arrow {
              opacity: 1;
            }
            > svg {
              path {
                fill: #0088cc;
              }
            }
          }
        }

        :not(.socials__link:hover) {
          .text {
            opacity: 0.5;
          }
          > svg {
            opacity: 0.5;
          }
        }
      }

      .socials__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: opacity 0.25s ease;

        @include media-bp-down(lg) {
          margin: 0;
        }

        svg {
          width: 80px;
          height: auto;

          @include media-bp-down(lg) {
            width: 34px;
          }
        }

        span {
          display: inline-flex;
          font-size: 16px;

          svg {
            width: 9px;
            height: auto;
            transition: transform 0.25s ease;
          }
        }
      }
    }

    .community_white_cards {
      .community_white_cards_item {
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        // margin-top: 50px;
        width: 400px;
        height: 351px;
        padding: 10px 0 40px;
        border-radius: 20px;
        background: linear-gradient(222.68deg, #f9f9f9 13.75%, #d9e3ff 76.51%);

        @include media-bp-down(lg) {
          grid-column: span 2;
          height: 200px;
          margin: 30px;
        }

        @include media-bp-down(md) {
          grid-column: span 6;
          width: auto;
          height: 400px;
        }

        .card_title {
          margin-top: 10px;
          text-align: left;
          margin-left: 35px;
          color: $textblue;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 130%;
        }

        .text {
          color: $textblue;
          text-align: left;
          font-weight: 400;
          font-size: 18;
          line-height: 150%;
          margin-left: 35px;
          margin-right: 35px;

          @include media-bp-down(lg) {
            max-width: 70%;
            font-size: 18;
          }

          @include media-bp-down(md) {
            max-width: 100%;
          }
        }

        .arrow_icon {
          align-self: flex-end;
          margin-bottom: 0px;
          margin-top: 105px;
          margin-right: 20px;

          svg {
            position: absolute;
            right: 40px;
            bottom: 40px;
            width: 15px;
            height: auto;
            transition: transform 0.25s ease;

            @include media-bp-down(md) {
              right: 25px;
              bottom: 25px;
              width: 13px;
            }

            path {
              transition: stroke 0.25s ease;
              stroke: #00b6b7;
            }
          }
        }
        &:nth-of-type(2) {
          .introduction__cards__item__illus {
            animation-delay: 1.5s;
            animation-direction: reverse;
          }
        }

        &:nth-of-type(3) {
          .introduction__cards__item__illus {
            animation-delay: 2s;
          }
        }
        @include media-bp-up(md) {
          &:hover {
            background: url("/images/grain.png"),
              linear-gradient(39.81deg, #006796 21.82%, #00b6b7 98.43%);

            .title,
            .text {
              color: $white;
            }

            svg {
              transform: translate3d(5px, -5px, 0);

              path {
                stroke: $white;
              }
            }
          }
        }
      }
    }
  }
}

.latest_news {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: $darkblue;
  border-radius: 50px;
  margin: 0 30px;

  @include media-bp-down(lg) {
    width: 100%;
    padding-top: 110px;
  }

  .wrapper {
    position: relative;
    padding: 0;
  }

  .latest_news__content {
    // top: 25vh;
    // right: 0;
    // left: 0;
    transform-origin: center;
    display: grid;
    gap: 60px;

    .news_title {
      color: $white;
      bottom: 73.89%;
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 88px;
      text-align: center;
    }

    .text {
      color: $white;
      font-weight: bold;
      margin: 20px;
    }

    .community_news_cards {
      position: relative;
      margin-top: 0;

      @include media-bp-down(lg) {
        padding: 60px 0 45px;
      }

      .community_news_cards_content {
        display: flex;

        @include media-bp-down(lg) {
          display: block;
        }

        .title {
          font-size: 25px;
          font-weight: bold;
          line-height: 1.3;
          color: $white;
        }

        .community_news_cards_item {
          position: relative;
          grid-column: span 5;
          width: 400px;
          height: 351px;
          margin-right: 32px;
          padding: 32px 40px;
          border-radius: 20px;
          background-color: $darkblue;
          border: 1px solid $white;

          @include media-bp-down(lg) {
            display: inline-block;
            width: calc(50% - 10px);
            margin-right: 0;
            margin-bottom: 16px;
            padding: 25px;
            vertical-align: top;

            &:first-of-type {
              margin-right: 18px;
            }
          }

          @include media-bp-down(md) {
            display: block;
            width: 100%;
            height: initial;
            min-height: 200px;
            margin-bottom: 15px;
          }

          @include media-bp-up(md) {
            &:hover {
              background: url("/images/grain.png"),
                linear-gradient(39.81deg, #006796 21.82%, #00b6b7 98.43%);

              .title,
              .description {
                color: $white;
              }

              svg {
                transform: translate3d(5px, -5px, 0);

                path {
                  stroke: $white;
                }
              }
            }
          }

          .title {
            display: block;
            margin-bottom: 16px;
            transition: color 0.25s ease;
            color: $white;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 130%;
          }

          p.description {
            transition: color 0.25s ease;
            color: $white;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;

            @include media-bp-down(md) {
              max-width: 100%;
            }
          }

          .date {
            color: $white-80;
            align-self: flex-start;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 16px;
          }

          .news_bottom_wrapper {
            display: flex;

            .tags {
              display: flex;
              flex-wrap: wrap;
              position: absolute;
              bottom: 20px;
              left: 20px;

              .tag {
                background-color: $nightblue;
                border-radius: 15px;
                color: $white-80;
                padding: 8px;
                margin-left: 3px;
              }
            }

            svg {
              position: absolute;
              margin-right: 10px;
              right: 5px;
              bottom: 30px;
              width: 15px;
              height: auto;
              transition: transform 0.25s ease;

              @include media-bp-down(md) {
                right: 25px;
                bottom: 25px;
                width: 13px;
              }

              path {
                transition: stroke 0.25s ease;
                stroke: #00b6b7;
              }
            }
          }
        }
      }
    }
  }
}
