.contact-okp4 {
  min-height: 100vh;
  padding-top: 15vh;

  .contact-main {
    padding-top: 10vh;
    margin: 0 auto;
  }
  .wrapper {
    position: relative;
    padding: 0;
    max-width: 1920px;
  }
}
