main.homepage {
  .landing {
    min-height: 100vh;
    padding-top: 35vh;
    padding-bottom: 300px;
    text-align: center;

    .wrapper {
      position: relative;
    }

    h1 {
      display: block;
      max-width: 1200px;
      margin: 0 auto 30px;
      text-align: center;
    }

    p {
      max-width: 765px;
      margin: 0 auto;
      color: $white-80;
      font-size: 26px;
      letter-spacing: 0.05em;
      line-height: 1.8;
      text-align: center;
    }
  }

  .introduction {
    .strate__inner {
      padding: 160px 0;
      background-color: $darkblue;

      .wrapper {
        position: relative;
      }
    }

    .introduction__title {
      max-width: 66%;
      margin: 0 auto 40px;
      text-align: center;
    }

    .introduction__text {
      max-width: 70%;
      margin: 0 auto 25px;
      color: $white-80;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;

      b {
        font-weight: 600;
      }

      a {
        display: inline-block;
        margin: 0 5px;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;

        span {
          display: inline-block;
          margin-right: 5px;
          font-weight: 700;
        }

        svg {
          width: 9px;
          height: auto;
        }
      }
    }

    .introduction__catch {
      max-width: 70%;
      margin: 0 auto 70px;
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }

    .title {
      font-size: 25px;
      font-weight: 600;
      line-height: 33px;
    }

    .introduction__cards {
      .introduction__cards__item {
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 447px;
        padding: 10px 0 40px;
        border: 1px solid $white;
        border-radius: 20px;
        background: linear-gradient(222.68deg, #f9f9f9 13.75%, #d9e3ff 76.51%),
          #ffffff;

        .introduction__cards__item__illus {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          width: 100%;

          .imgWrapper {
            display: block;
            width: 290px;
            animation: floating-image 8s linear infinite;

            picture {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: auto;
            }

            img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }

        .title,
        .text {
          color: $textblue;
          text-align: center;
        }

        .title {
          // margin-top: auto;
          margin-bottom: 10px;
        }

        &:nth-of-type(2) {
          .imgWrapper {
            animation-delay: 2s;
            animation-fill-mode: backwards;
          }
        }
      }
    }

    .introduction__pushs {
      grid-row-gap: 32px;
      margin-top: 50px;

      .introduction__pushs__item {
        display: flex;
        grid-column: span 6;
        border-radius: 20px;
        background: $pushblue;
      }

      .title {
        display: block;
        margin-bottom: 10px;
      }

      .text {
        color: $white-80;
        line-height: 32px;
      }

      .introduction__pushs__item--left {
        grid-row: span 2;
        flex-direction: column;
        justify-content: flex-end;
        height: 487px;
        padding: 50px;

        .introduction__pushs__item__illus {
          width: 350px;
          margin-top: auto;
          margin-bottom: 0;

          img {
            width: 100%;
            height: auto;
          }
        }

        .introduction__pushs__item__texts {
          margin-top: 40px;
          margin-bottom: 0;
        }
      }

      .introduction__pushs__item--right {
        grid-row: span 1;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        padding: 40px 75px 40px 40px;

        .introduction__pushs__item__illus {
          width: 115px;
          margin-right: 60px;
        }

        .introduction__pushs__item__texts {
          flex: 1;
        }
      }
    }

    .gradient {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;

      .gradient__layer {
        position: absolute;
        bottom: -50%;
        left: -30%;
        height: 100%;
        width: 140%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 216, 119, 0.15) 0%,
          rgba(217, 217, 217, 0) 100%
        );
      }
    }
  }

  .video {
    .strate__inner {
      background: #000000;
    }

    .video__player {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 16/9;

      svg {
        width: 75px;
        height: auto;
      }
    }
  }

  .universe {
    .strate__inner {
      padding: 120px 0 80px;
      background: linear-gradient(180deg, #012c4f 0%, #003a68 77.08%), #ffffff;
    }

    .universe__title {
      display: block;
      margin-bottom: 120px;
      text-align: center;
    }

    .universe__wrapper {
      display: block;
      width: 100%;
    }

    .universe__items {
      display: inline-block;
      width: 41%;
      margin-top: 50vh;
      padding-bottom: 200px;
      vertical-align: top;

      .universe__item {
        position: relative;
        width: 100%;
        margin-bottom: 140px;

        .tag {
          position: absolute;
          top: -40px;
          display: inline-block;
          padding: 6px 19px;
          border-radius: 10px;
          background-color: $white;
          text-align: center;
          transition: all 0.4s ease;

          span {
            color: $textblue;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
          }
        }

        .title {
          display: block;
          margin-top: 15px;
          margin-bottom: 35px;
          transition: opacity 0.2s ease;
          font-size: 50px;
          font-weight: 600;
          line-height: 60px;
        }

        .text {
          // position: absolute;
          // top: 95px;
          display: block;
          transition: all 0.4s ease;
          color: $white-80;
          line-height: 1.5;
        }

        &:not(.is-active) {
          .title {
            opacity: 0.15;
          }

          .tag {
            opacity: 0;
            transform: translate3d(0, -20px, 0);
          }

          .text {
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
          }
        }

        &.is-active {
          .title {
            opacity: 1;
          }

          .tag {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }

          .text {
            opacity: 1;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }

    .universe__illus {
      display: inline-flex;
      position: sticky;
      top: 60px;
      align-items: flex-start;
      justify-content: flex-end;
      width: 58%;
      height: 100%;
      min-height: 595px;
      vertical-align: top;

      .universe__illus__item {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 595px;
        transition: opacity 0.1s;

        &:nth-of-type(1) {
          position: relative;
        }

        img {
          width: 100%;
          height: auto;
        }

        &:not(.is-active) {
          opacity: 0;
        }

        &.is-first-active {
          opacity: 0.3;
        }

        &.is-active {
          opacity: 1;
        }
      }
    }

    .roadmap {
      width: 100%;
      margin-top: 180px;

      .roadmap__intro {
        text-align: center;

        p {
          margin-right: auto;
          margin-left: auto;
        }

        h2 {
          display: block;
          margin-bottom: 10px;
        }

        p.title {
          max-width: 90%;
          margin-bottom: 32px;
          font-size: 50px;
          font-weight: 600;
        }

        p.text {
          max-width: 70%;
          margin-bottom: 70px;
          color: $white-80;
          font-size: 20px;
          line-height: 1.5;

          b {
            font-weight: 600;
          }
        }
      }

      .roadmap__items {
        width: 100%;

        .roadmap__item {
          position: sticky;
          min-height: 600px;
          margin-bottom: 32px;
          width: 100%;
          overflow: hidden;
          border-radius: 20px;
          transform-origin: top;

          .roadmap__item__layer {
            position: absolute;
            z-index: 999;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            overflow: hidden;
            border-radius: 20px;
            opacity: 0;
            background-color: #000000;
            pointer-events: none;
          }

          .roadmap__item__container {
            display: flex;
            position: sticky;
            width: 100%;
          }

          &:nth-child(1) {
            // top: 20px;
            background-color: #00b6b7;
          }

          &:nth-child(2) {
            // top: 50px;
            background-color: #008fad;
          }

          &:nth-child(3) {
            // top: 80px;
            background-color: #006796;
          }

          &:nth-child(4) {
            // top: 110px;
            background-color: #004073;
          }

          &:nth-child(5) {
            // top: 140px;
            background-color: #032b4a;
          }

          .roadmap__item__text {
            width: 60%;
            min-height: 100%;
            padding: 40px 75px 40px 40px;

            .title {
              display: block;
              margin-bottom: 32px;
              font-size: 35px;
              font-weight: 700;
              line-height: 42px;
            }

            .excerpt {
              display: block;
              margin-bottom: 32px;
              font-size: 20px;
              font-weight: 700;
              line-height: 36px;
            }

            .description {
              color: $white-80;
              line-height: 32px;

              b {
                font-weight: 700;
              }
            }
          }

          .roadmap__item__illus {
            width: 40%;
            min-height: 100%;

            div,
            img {
              width: 102%;
              height: 102%;
              object-fit: cover;
            }
          }
        }

        .roadmap__items__bottom {
          width: 100%;
          height: 600px;
        }
      }
    }
  }

  .docs {
    position: relative;
    background-color: $nightblue;
    padding: 120px 0 0;
    margin-top: 0;

    .docs__header {
      margin-bottom: 60px;

      h3 {
        display: inline-block;
        width: 37%;
        margin-right: 33px;
      }

      p {
        display: inline-block;
        max-width: calc(63% - 40px);
        color: $white-80;
        font-size: 20px;
        line-height: 30px;
      }
    }

    .docs__content {
      display: flex;

      .title {
        font-size: 25px;
        font-weight: 600;
        line-height: 1.3;
      }

      .docs__content__item--large {
        width: 37%;
        margin-right: 32px;
        position: relative;
        grid-column: span 5;
        height: 250px;
        padding: 32px 40px;
        border-radius: 20px;
        background-color: #fff;
        background: linear-gradient(222.68deg, #f9f9f9 13.75%, #d3defa 76.51%);

        .title {
          display: block;
          margin-bottom: 16px;
          color: $textblue;
        }

        p.description {
          max-width: 85%;
          color: $textblue;
          line-height: 27px;
        }

        svg {
          position: absolute;
          right: 40px;
          bottom: 40px;
          width: 15px;
          height: auto;

          path {
            stroke: #00b6b7;
          }
        }
      }

      .docs__content__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: span 2;
        width: 100%;
        flex: 1;

        .docs__content__item {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          height: calc(50% - 16px);
          padding: 10px 32px;
          border: 1px solid #006796;
          border-radius: 20px;

          .social {
            width: 33px;
            height: auto;
          }

          .arrow {
            position: relative;
            top: 2px;
            width: 15px;
            height: auto;
          }

          p.title {
            margin-left: 14px;
            margin-right: auto;
          }
        }
      }
    }
  }
}
