.roadmap__main {
  position: relative;
  display: flex;
  padding-top: 181px;
  min-height: calc(100vh - 505px);

  .roadmap__background__image {
    position: absolute;
    opacity: 0.15;
    width: 40%;
    height: 60%;
    bottom: 0;
    right: 0;
    z-index: 0;

    &:hover {
      opacity: 1;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .roadmap__content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 250px;
    z-index: 1;

    .roadmap__title {
      max-width: 615px;
      font-size: 125px;
      margin-left: 328px;

      @media screen and (max-width: 1440px) {
        margin-left: 94px;
      }

      @media screen and (max-width: 768px) {
        font-size: 65px;
        line-height: 72px;
        text-align: center;
        max-width: 345px;
        margin-left: 15px;
      }
    }

    .roadmap__cards {
      display: grid;
      grid-template: 470px / repeat(5, 345px);
      margin: auto 0;

      .roadmap__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        padding: 20px;

        &.Genesis {
          background: center / cover no-repeat
            url("../images/illus/index_roadmap_1.jpg");
        }

        &.Nemeton {
          background: center / cover no-repeat
            url("../images/illus/index_roadmap_2.jpg");
        }

        &.Myrddin {
          background: center / cover no-repeat
            url("../images/illus/index_roadmap_3.jpg");
        }

        &.Duir {
          background: center / cover no-repeat
            url("../images/illus/index_roadmap_4.jpg");
        }

        &.Lugh {
          background: center / cover no-repeat
            url("../images/illus/index_roadmap_5.jpg");
        }

        .roadmap__card__period {
          background-color: $white;
          border-radius: 10px;
          color: $darkblue;
          width: fit-content;
          padding: 10px 20px;
          max-height: 39px;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
        }

        .roadmap__card__content__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .roadmap__card__title {
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            margin: 15px 10px;
          }

          .roadmap__card__button {
            display: flex;
            justify-content: center;
            gap: 5px;
            align-self: end;
            background-color: $orange;
            color: $white;
            border-radius: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            padding: 17px 0;
            width: 100%;
            border: none;

            svg {
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}
