body {
  overflow-x: hidden;
}

footer.footer .docs {
  padding-top: 20px;

  @include media-bp-up(lg) {
    padding-top: 106px;
  }
}

.zone__main {
  min-height: calc(100vh - 505px);
  padding-top: 181px;
  overflow: hidden;

  @include media-bp-down(lg) {
    padding-top: 70px;
  }

  .zone__description {
    text-align: center;

    h1,
    h2 {
      margin-bottom: 40px;

      @include media-bp-down(lg) {
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 20px;
      line-height: 150%;

      @include media-bp-down(lg) {
        font-size: 18px;
        text-align: center;

        &:last-of-type {
          margin-top: 20px;
        }
      }
    }

    &.conditions {
      max-width: 719px;
      text-align: initial;

      p {
        margin-bottom: 30px;
        line-height: 180%;
      }

      p:last-of-type {
        margin-bottom: unset;
      }

      @include media-bp-down(lg) {
        text-align: center;

        p {
          margin-bottom: 25px;
          line-height: 150%;
        }
      }
    }

    &.main {
      max-width: 722px;

      h1 {
        margin-top: 122px;
        letter-spacing: 0.03em;
        line-height: 110px;
        text-align: left;

        @include media-bp-down(lg) {
          margin-top: 46px;
          font-size: 65px;
          line-height: 72px;
          text-align: center;
        }
      }

      p {
        font-size: 22.1911px;
        letter-spacing: 0.05em;
        line-height: 40px;
        text-align: initial;

        @include media-bp-down(lg) {
          line-height: 150%;
          text-align: center;
        }
      }
    }

    &.resources {
      p {
        max-width: 1048px;
        margin: 0 auto;
      }

      .zone__image__resources {
        max-width: 1048px;
        margin-top: 40px;
      }
    }

    &.flexibility {
      margin-top: -20px;

      p {
        max-width: 1048px;
        margin: 0 auto;
        padding-bottom: 20px;
        line-height: 150%;
      }
    }

    .zone__decentralized__button {
      display: inline-block;
      margin-top: 40px;
      padding: 18px 30px;
      border-radius: 10px;
      background: linear-gradient(78.68deg, #006796 49.23%, #00b6b7 114.06%),
        #00b6b7;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      text-align: center;

      @include media-bp-down(lg) {
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
      }

      &:hover {
        background: url("/images/grain.webp"),
          linear-gradient(222.68deg, #f9f9f9 13.75%, #d3defa 76.51%);
        color: $textblue;
      }
    }
  }

  .zone__section {
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 180px;
    margin: 0 auto;
    padding: 0 0 180px;

    @include media-bp-down(lg) {
      padding: 0 15px 60px;
      row-gap: 60px;
    }

    .zone__wrapper {
      display: grid;
      grid-template-areas: "img description";
      justify-content: center;
      padding: 0 30px;
      column-gap: 80px;

      &.invert-order {
        grid-template-areas: "description img";
      }

      @include media-bp-down(lg) {
        grid-template-areas:
          "description"
          "img";
        row-gap: 60px;
        padding: unset;

        &.invert-order {
          grid-template-areas:
            "description"
            "img";
          row-gap: 60px;
        }
      }

      .zone__image__wrapper {
        position: relative;
        grid-area: img;
        align-self: center;
        padding-top: 20px;

        @include media-bp-down(lg) {
          justify-self: center;
        }

        &.conditions {
          max-width: 494px;
        }

        .zone__image {
          animation: floating-image 8s linear infinite;
        }

        .zone__background__halo {
          position: absolute;
          z-index: -1;
          top: -20%;
          left: -20%;
          width: 140%;
          height: 140%;
          border-radius: 50%;
          opacity: 0.4;
          background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(255 255 255 / 50%) 0%,
            rgba(255 255 255 / 0%) 100%
          );
        }

        .zone__background__image {
          position: absolute;
          z-index: -1;
          right: -130%;
          bottom: -135%;
          width: 1344px;
          transform: rotate(30deg);

          @include media-bp-down(lg) {
            right: 140px;
            bottom: 75%;
            transform: rotate(210deg);
          }

          @include media-bp-down(sm) {
            right: -180px;
            bottom: 100%;
          }
        }
      }

      .zone__description {
        grid-area: description;
      }
    }
  }

  .zone__management {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #012c4f 0%, #003a68 77.08%);

    @include media-bp-up(xxl) {
      margin: 0 30px;
      border-radius: 40px;
    }

    @include media-bp-down(lg) {
      margin: 0 15px;
      border-radius: 20px;
    }

    .zone__background__halo:first-of-type {
      position: absolute;
      top: -434px;
      right: -434px;
      width: 868px;
      height: 868px;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255 255 255 / 15%) 0%,
        rgba(255 255 255 / 0%) 100%
      );
    }

    .zone__background__halo:last-of-type {
      position: absolute;
      bottom: -50%;
      left: -15%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgb(255 216 119 / 0.15%) 0%,
        rgb(217 217 217 / 0%) 100%
      );
    }

    @include media-bp-down(lg) {
      .zone__background__halo {
        display: none;
      }
    }

    .zone__management__content {
      display: grid;
      grid-template-areas:
        "header config"
        "rules config"
        "rules build";
      max-width: 1324px;
      margin: 0 auto;
      gap: 32px;
      padding: 140px 30px 190px;

      @include media-bp-up(lg) {
        grid-template-columns: 1fr 1fr;
      }

      @include media-bp-down(lg) {
        grid-template-areas:
          "header"
          "rules"
          "config"
          "build";
        row-gap: 15px;
        margin: 0;
        padding: 30px 0;
      }

      h2 {
        grid-area: header;
        height: fit-content;
        margin-bottom: 100px;

        @include media-bp-down(lg) {
          margin-bottom: 15px;
          text-align: center;
        }
      }

      .zone__management__card {
        z-index: 1;
        padding: 50px;
        border-radius: 20px;
        background-color: #225089;

        @include media-bp-down(lg) {
          display: flex;
          flex-direction: column;
          padding: 30px;
          text-align: center;
        }

        .zone__management__card__image {
          width: fit-content;
          margin: 0 0 50px;

          @include media-bp-down(lg) {
            margin: 0 auto 50px;
          }
        }

        p:first-of-type {
          margin-bottom: 10px;
          font-size: 25px;
          font-weight: 700;
          line-height: 140%;
        }

        p:last-of-type {
          font-size: 20px;
          line-height: 150%;
        }
      }

      .zone__management__card:nth-of-type(1) {
        grid-area: rules;
      }

      .zone__management__card:nth-of-type(2) {
        grid-area: config;
      }

      .zone__management__card:nth-of-type(3) {
        grid-area: build;
      }
    }
  }

  .zone__decentralized {
    display: grid;
    justify-content: center;
    padding-top: 180px;

    @include media-bp-down(lg) {
      padding: 60px 15px 0;
    }

    .zone__image__wrapper {
      display: grid;
      position: relative;
      padding-bottom: 100px;

      @include media-bp-down(lg) {
        padding-bottom: 40px;
      }

      .zone__image__landing {
        z-index: 2;
        max-width: 1272px;
        margin-top: 120px;

        @include media-bp-down(lg) {
          margin-top: 60px;
        }
      }

      .zone__background__halo {
        position: absolute;
        z-index: 1;
        right: -12%;
        bottom: 0;
        width: 100vw;
        max-width: 1612px;
        height: 25%;
        border-radius: 50%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255 255 255 / 10%) 30%,
          rgba(255 255 255 / 0%) 100%
        );

        @media screen and (max-width: 1580px) {
          right: unset;
          width: 100%;
        }
      }
    }
  }
}
